@import url(globales.css);
@import url(header.css);
@import url(home.css);
@import url(qualification.css);
@import url(services.css);
@import url(project.css);
@import url(portfolio.css);
@import url(testimonial.css);

/*===== LAYOUT =====*/
.bd-container {
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.bd-grid {
  display: grid;
  gap: 1.5rem;
}

/*===== SCROLL TOP =====*/
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background: rgba(123, 111, 113, 0.7);
  border-radius: 0.5rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
}
.scrolltop:hover {
  background-color: var(--first-color);
}
.scrolltop__icon {
  font-size: 2rem;
  color: var(--first-color-lighten);
}
/* Show scroll top */
.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}
/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--secundario-color);
  color: var(--first-color-lighten);
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  transition: 0.3s;
}
.button:hover {
  background-color: var(--first-color-dark);
}
.button-light {
  background-color: var(--secundario-color);
}
.button-white {
  background-color: var(--first-color-lighten);
  color: var(--secundario-color);
}
/* .button-white:hover {
  background-color: var(--first-color-light);
} */
.button-link {
  background: none;
  color: var(--first-color);
  padding: 0;
}
.button-link:hover {
  background: none;
}
/*===== ABOUT =====*/
.about__data {
  text-align: center;
}
.about__description span {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
}

.about__number {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  display: block;
}
.about__img {
  justify-self: center;
  width: 220px;
  border-radius: 0.5rem;
}
/* Active menu portfolio*/
.active-portfolio {
  color: var(--first-color-dark);
  font-weight: var(--font-semi-bold);
}

/*===== CONTACTME =====*/
.contact__container {
  row-gap: 2.5rem;
}

.contact__content {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.contact__box {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
  text-align: center;
  box-shadow: var(--sombra2-box);
}
.contact__icon,
.contact__title {
  color: var(--first-color);
}
.contact__icon {
  font-size: 2rem;
}
.contact__title {
  font-size: var(--h3-font-size);
  margin: var(--mb-1) 0;
}
.contact__social {
  color: var(--first-color-light);
  font-size: 1.25rem;
  margin: 0 var(--mb-1);
}
.contact__box:hover {
  box-shadow: var(--sombra3-box);
}
.contact__inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}
.contact__input,
.contact__button {
  outline: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
.contact__input {
  width: 100%;
  padding: 1rem;
  border: 2px solid var(--first-color-light);
  color: var(--first-color);
  border-radius: 0.5rem;
  margin-bottom: var(--mb-1);
}
/*===== FOOTER =====*/

/*===== MEDIA QUERIES =====*/
